02-entrega2/exercici7.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="FirstName" type="xs:string"/>
   <xs:element name="LastName" type="xs:string"/>
   <xs:element name="Age" type="xs:integer"/>

   <xs:attribute name="Title" type="xs:string"/>
   
   <xs:element name="Author">
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="FirstName"/>
            <xs:element ref="LastName"/>
            <xs:element ref="Age"/>
         </xs:sequence>
         <xs:attribute ref="Title" use="optional"/>
      </xs:complexType>
   </xs:element>
</xs:schema>